.TABLEcontainer {
	display: grid;
    place-items: center;
	text-align:center;
 	border-radius:15px;
 	border:2px solid grey;
	position: relative;
	top:100px;
	width:1000px;
	margin:auto;
.Wrapper {
  background-color: snow;
  height:100%;
  width:980px;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
  div {
   display:inline-block;
   flex-direction:row;
  }
  li {
  list-style: none;
  border:0.5px solid #ddd;
  text-align:center;	 
  width:230px;
  height:40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color:#C84C41;
  color:white;
  font:13px verdana;
  }
.TableTile {
	border:0.5px solid #ddd;
 	text-align:center;	 
 	width:230px;
 	align-items: center;
	flex-direction: row;
	justify-content: center;
}
 
}


.Button:hover {
	background-color: #0078E1;
	box-shadow: 2px -2px 16px 4px rgba(72,170,230,0.56);	
}
.ButtonActive:hover {
	background-color: #FFD12C;	
	box-shadow: 2px -2px 12px 4px rgba(255,165,0,0.26);
}
 

.Button, .ButtonActive {
	border-radius:10px;
	width: 220px;
	heigth: 80px;
 	max-height: 100px;
 	max-width: 300px;
 	text-align:center;
 	display: flex;
 	align-items: center;
	flex-direction: row;
	justify-content: center;
	cursor:pointer;
	padding:5px;
	font:22px impact;
	color:white;
	margin-left:8px;
	margin-top:10px;
	user-select: none;
	background-color: #48AAE6;
	margin-bottom: 10px;
}
.ButtonActive {
	background-color:orange;
}
